body {
  display: flex;
  flex-direction: column;
}

.game-container {
  width: 100%;
  height: screen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  font-size: 42px;
  font-weight: semibold;
}

.correct {
  background-color: lightgreen;
}

.close {
  background-color: yellow;
}

.incorrect {
  background-color: lightgray;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  gap: 6px;
}

.keyboard-row button {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.keyboard-row button:hover {
  background-color: #ddd;
}

footer {
  position: absolute;
  bottom: 10px;
}

.error-message {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5px;
}
